<h1>Login</h1>
<h3>{{error}}</h3>

<div>
  <a href='/api/sessions/github'> <button>Entrar con GitHub</button> </a>
</div>

{{! <form action='/api/sessions/login' method='post'>
  <label for='email'>Email</label>
  <input type='text' name='email' />

  <label for='password'>Password</label>
  <input type='password' name='password' />

  <button type='submit'>Login</button>
</form> }}