<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
  </head>
  <body>
    <header style='margin-bottom: 2rem;'>
      <h1>Menu</h1>

      <a href='http://localhost:8080/api/sessions/products'>Products</a>
      <a href='http://localhost:8080/api/sessions/register'>Sign Up</a>
      <a href='http://localhost:8080/api/sessions/login'>Login</a>
      <a href='http://localhost:8080/api/sessions/profile'>Profile</a>

    </header>

    {{{body}}}

  </body>
</html>